<ul class="list-group">
  <li class="list-group-item " style="background-color: #198754" aria-current="true" th:text="#{categories}">Categories</li>
  <a th:href="@{'/'}" class="list-group-item list-group-item-action btn btn-light" th:text="#{allproducts}">All Products</a>
  <a href="#" class="list-group-item list-group-item-action btn btn-light"  th:text="#{smart-gad}">Smartphones, Gadgets</a>
  <a href="#"  class="list-group-item list-group-item-action btn btn-light"  th:text="#{tv-audio}">TV, Audio, Video</a>
  <a href="#" class="list-group-item list-group-item-action btn btn-light"  th:text="#{gaming}">Everything for games</a>
  <a href="#"  class="list-group-item list-group-item-action btn btn-light"  th:text="#{comp-lap}">Computers, Laptops</a>
</ul>